@import "tailwindcss";

:root {
  --background: #FDFBD4;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-macondo);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #FDFBD4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-macondo), cursive;
}

@keyframes colorPulse {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-text {
  background: linear-gradient(90deg, #D33865, #38d3a6, #D33865);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorPulse 6s ease-in-out infinite;
}

@keyframes borderMove {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

.animate-borderMove {
  background-size: 100% 200%;
  animation: borderMove 2s linear infinite alternate;
}