@import "tailwindcss";

:root {
  --background: #FDFBD4;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #FDFBD4;
}

body {
  font-family: var(--font-macondo), cursive;
  transition: background 0.5s, color 0.5s;
}

@keyframes colorPulse {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-text {
  background: linear-gradient(90deg, #D33865, #38d3a6, #D33865);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorPulse 6s ease-in-out infinite;
}

@keyframes borderMove {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

.animate-borderMove {
  background-size: 100% 200%;
  animation: borderMove 2s linear infinite alternate;
}